.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #e0e0e0;
}

.App a {
  color: #61dafb;
}

.message {
  margin: 2rem auto;
  max-width: 600px;
  line-height: 1.5;
}